#outlet {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border: dashed;
  border-radius: 0.5rem;
  display: grid;
  place-items: center;
  margin-top: 2rem;
  padding: 1rem;
}
